extends layout

block content
  .page-header
    h2 Edit Profile
    p Update your personal details and campus role

  .card(style="max-width: 500px; margin: 0 auto;")
    form(action='/profile/edit', method='POST')
      .field
        label First Name
        input(type='text', name='fname', value=user.fname, required)
      
      .field
        label Last Name
        input(type='text', name='lname', value=user.lname, required)
      
      .field
        label Role
        input(type='text', name='role', value=user.role || user.course, placeholder='e.g. Computing Student')

      .divider

      .grid-2
        button.gbtn-sm(type='submit', style="width: 100%") Save Changes
        a.btn-outline(href='/profile', style="text-align: center; display: block;") Cancel